@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial;
}

body {
  background-color: #202024;
  width: 100%;
  height: 100%;
  color: #fff;
}

header {
  background-color: #061e30;
  padding: 3rem;
  margin: 0.5rem;
  text-align: center;
}
header h1 {
  padding-bottom: 3rem;
}

input {
  margin: 0;
  border: none;
  border-radius: 10px 10px 10px 10px;
  width: 70%;
  padding: 0.6rem;
  font-size: 1rem;
  outline: none;
  background-color: #202024;
  color: #fff;
}
.btnHeader {
  margin-left: 25.5%;
  padding-left: 0.4rem;
  width: 100%;
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  display: flex;
  font-size: 1rem;
}
.btnHeader:hover {
  color: red;
  transition: all 0.3s ease-in-out;
}
button {
  padding: 0.6rem;
  width: 20%;
  background-color: #202024;
  color: rgb(100, 99, 99);
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;
}
button:hover {
  background-color: rgb(245, 240, 240);
  color: black;
}

section#task {
  margin: 0.5rem;
}
ul {
  list-style: none;
  flex-direction: column-reverse;
}
ul li {
  position: relative;
  padding: 0.7rem;
  background-color: #050513;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.3rem;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  padding-left: 4rem;
}

ul li span {
  color: #ccc;
  font-style: italic;
  font-size: 0.8rem;
  padding-left: 1rem;
}

ul li div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

ul li:nth-child(odd) {
  background-color: #202024;
}

ul li:hover {
  background-color: #5a5a5a;
  transition: all 0.5s ease-in-out;
}

a.btnUpdate {
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: #ccc;
}

a.btnUpdate:hover {
  color: yellowgreen;
  transition: all 0.3s ease-in-out;
}

a.btnDelete {
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: #ccc;
}
a.btnDelete:hover {
  color: red;
  transition: all 0.5s ease-in-out;
}

section#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000080;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
div#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

div#card {
  width: 30rem;
  border-radius: 30px;
  position: relative;
  background-color: black;
}
div#card h2 {
  padding: 2rem;
  margin: 0;
}
div#card a#close {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
}
div#card a#close:hover {
  background-color: red;
  border-radius: 15%;
  padding: 0.1rem;
}

div#card hr {
  width: 90%;
  margin: 0 auto;
  border-color: #ccc;
}

div#card p {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2.5rem;
}
div#btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
div#btns a {
  text-decoration: none;
  padding: 0.5rem;
  width: 7rem;
  text-align: center;
  background-color: black;
  font-size: 1.5rem;
}
div#btns a#btnNot {
  color: red;
  border-radius: 10px 10px 10px red;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}
div#btns a#btnNot:hover {
  background-color: red;
  border-radius: 10px 10px 10px 10px;
  color: white;
}

div#btns a#btnYes {
  color: green;
  border-radius: 10px 10px 10px green;
  transition: all 0.3s ease-in-out;
}

div#btns a#btnYes:hover {
  background-color: green;
  border-radius: 10px 10px 10px 10px;
  color: white;
}

.message {
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-danger {
  background-color: rgb(255, 197, 197);
  color: #8a0000;
}

.message-sucess {
  background-color: rgb(148, 230, 148);
  color: green;
}

ul li.check-true {
  background-color: #8888;
  color: white;
  text-decoration: line-through;
}

ul li a.check-true::before {
  content: "";
  position: absolute;
  border: white solid;
  top: 18px;
  left: 16px;
  height: 15px;
  width: 7px;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}

ul li a.check-false::before {
  content: "";
  position: absolute;
  border: white solid;
  top: 20px;
  left: 14px;
  height: 13px;
  width: 13px;
  border-width: 2px;
}
